body {
    background-color: white;
}
.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.navbar-media {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}
li {
    display: inline;
    margin-right: 15px;
}
li a {
    text-decoration: none;
    color: inherit;
}